@{
    ViewBag.Title = "Contact";
}

<div>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <h2>Lägg till produkt</h2>
                </div>
            </div>
            <div class="panel-body">

                <table>
                    <tr class="no-stripes col-md-12">
                        <td class="pw col-md-3">Namn</td>
                        <td class="pw2 col-md-9"><input class="pi" type="text" name="name" /></td>
                    </tr>
                </table>
                <br /><br />
                <table>
                    <tr class="no-stripes col-md-12">
                        <td class="pw col-md-3">Pris</td>
                        <td class="pw2 col-md-9"><input class="pi" type="text" name="price" /></td>
                    </tr>
                </table>
                <br /><br />
                <table>
                    <tr class="no-stripes col-md-12">
                        <td class="pw col-md-3">Beskrivning</td>
                        <td class="pw2 col-md-9"><input class="pi" type="text" name="description" /></td>
                    </tr>
                </table>

            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Lägg till product" />
        </div>}
</div>
