@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bim Demo</h1>
    <p class="lead">Bim Demo 2021-04-22</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <img src="https://bimdemostorage.blob.core.windows.net/products/car.jpg" width="250" height="250">
        </div>
        <div class="col-md-8">
            <h2>Car</h2>
            <p>En häftig radiostyrd bil</p>
            <p><i>299:-</i></p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <img src="https://bimdemostorage.blob.core.windows.net/products/fia.jpg" width="250" height="250">
        </div>
        <div class="col-md-8">
            <h2>Car</h2>
            <p>En häftig radiostyrd bil</p>
            <p><i>299:-</i></p>
        </div>
    </div>
</div>
